<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>

<!-- <ul>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
 <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>  <link rel="icon" href="https://www.rencata.com/">
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li><a [href]="fileUrl" download="file.txt">DownloadFile</a>
</ul> 


<a [href]="fileUrl"></a>
2)- Add the directive name in your button (ngxPrint),
3)- Affect your ID to printSectionId
-->
<!-- <embed type="application/pdf" src="assets/images/HolidayCalendar.pdf" id="pdfDocument"width="100%"height="100%"/> -->
<!-- <img src="assets/images/MichaelFarris.jpg"  class="blds-max-width--100" /> -->
<p></p>
<h1></h1>
<app-leftbar></app-leftbar>

<!-- <button (click)="onPrintFileTest($event)">print</button>
  
<button *ngIf="Process" (click)="Loading">Loading</button> -->

<!-- <div id="print-section"> 

<p></p>
  <div> Rencata {{embed}} </div></div> 
  <P></P> -->

  <!-- <app-spinner></app-spinner> -->
<router-outlet></router-outlet>
